

<div class="container">
  <button type="button" routerLink="/articles/add" class="btn btn-default mb">Add new</button>
  <ul class="list-group">
    <li *ngFor="let article of articles" class="list-group-item clearfix">    
      <a  routerLink="/articles/{{article.id}}">{{article.title}}</a>
      [{{article.author}}]

      <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-xs btn-secondary" 
          routerLink="/articles/{{article.id}}/edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>
        <!-- <div class="btn-group" role="group">
          <button type="button" class="btn btn-xs btn-secondary">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div> -->
      </div>

      <!-- <button type="button" class="btn btn-xs btn-default" onclick="alert('Action1 -> Play');">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-remove"></span>
      </button> -->

      <!-- <h4 class="list-group-item-heading">{{article.title}}</h4>
      <p class="list-group-item-text">{{article.author}}</p> -->
      
    </li>
  </ul>
  <!-- <button (click)="addRandomArticle()">Add random</button> -->
</div>